<h3 class="u-pb-x2">

  Go to Section

</h3>

<ul class="o-list">

  <li class="o-list__item">

    <a href="/chapter-1" class="u-color-blue">

      Objectifs et vision

    </a>

  </li>

  <li class="o-list__item">

    <a href="/chapter-2" class="u-color-blue">

      La formation à l'EAP

    </a>

  </li>

  <li class="o-list__item">

    <a href="/chapter-3" class="u-color-blue">

      Les 4 piliers de l'apprentissage

    </a>

  </li>

  <li class="o-list__item">

    <a href="/chapter-4" class="u-color-blue">

      Les 12 lois du cerveau

    </a>

  </li>

  <li class="o-list__item">

    <a href="/chapter-5" class="u-color-blue">

      Chapter 5

    </a>

  </li>

  <li class="o-list__item">

    <a href="/chapter-6" class="u-color-blue">

      Chapter 6

    </a>

  </li>

</ul>
