{{ define "main" }}

<div class="o-container">

  <main>

    <div class="o-container">

      <div class="o-grid">

        <div class="o-grid__col u-1/3">

          {{ partial "side.html" . }}

        </div>

        <div class="o-grid__col u-1/3">

          <h1>

            Donner du sens à la formation

          </h1>

          <h2>

            Concevoir et animer des formations engageantes et favorisant l’apprentissage

          </h2>

        </div>

      </div>

    </div>

  </main>

{{ end }}
